@model OdeToFood.Models.Restaurant

<!DOCTYPE html>
<html>
<head>
    <title>Details asd</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>...more retaurant's details...</div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</body>
</html>