@*@model IEnumerable<OdeToFood.Models.Restaurant>;*@
@model OdeToFood.ViewModels.Home.HomeIndexViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index asd</title>
</head>
<body>
    <h2>@Model.CurrentMessage</h2>
    <table>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>restaurant's id:@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Home/Details/@item.Id">Details</a>
                    @Html.ActionLink("Go", "Details", new { id=item.Id})
                    <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Home">More</a>@*Better use this more readable*@
                    
                </td>
            </tr>
        }
    </table>
    
    
</body>
</html>
