@*@model IEnumerable<OdeToFood.Models.Restaurant>;*@
@model OdeToFood.ViewModels.Home.HomeIndexViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>restaurant's id:@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <h2>@Model.CurrentMessage</h2>
    
</body>
</html>
