@model OdeToFood.Models.Restaurant;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <span>restaurant's id:@Model.Id</span>
</body>
</html>
